<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>New Level</title>
</head>
<body>
    <form action="/levels/new" method="POST">
        <input type="text" name="type" placeholder="type"/>
        <input type="text" name="map" placeholder="map"/>
        <input type="text" name="creator" placeholder="creator"/>
        <input type="number" name="difficulty" placeholder="difficulty 1-5"/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>